@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 210px;
        height: 100px;
        font-size: 12   px;
    }
}

@media screen and (max-width:650px){
    .botao{
        width: 100px;
        height: 100px;
        font-size: 20px;
    }

    .botao span{
        display: none;
    }

    
}


@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}